.filter-btn {
  padding: .5rem 1rem;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease;
  
  /* Inactive State (Secondary Style) */
  background-color: #ffffff;
  color: var(--darkText);
  font-family: var(--arabicFont);
  font-size: 1rem;
  border: 1px solid var(--stroke);
}

.filter-btn:hover:not(.active) {
  background-color: #f5f5f5;
}

/* Active State (Primary Style) */
.filter-btn.active {
  background-color: var(--ctaActive); /* Your FOL green */
  color: #ffffff;
  border: 1px solid var(--ctaActive);
}