.plantCard{
    width: 24%;
    min-width: 260px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3vw;

    background-color: #FFFFFF;
    border: 1px solid #E7EBE8;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.plantCard:hover {
    transform: translateY(-5px);
    
    box-shadow: 0 12px 24px rgba(8, 47, 25, 0.08); 
    
    border-color: var(--ctaActive); 
}



.cardImageContainer {
    position: relative;
    width: 100%;       /* Fill the full width of the card */
    height: 25vh;      /* Set your specific desired height here */
    overflow: hidden;   /* Clip the image if it exceeds this box */
    border-radius: 8px 8px 0 0; /* Match card corners (top only) */
}

.cardImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* This is the magic line that prevents stretching */
    object-position: center; /* Keeps the plant centered in the crop */
    display: block;
}



.plantDataCol{
    padding: 1.2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.plantNaming{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2vw;
}

.buttonRow{
    margin-top: .4vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.statusBadge {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px 12px;
    border-radius: 20px; /* Gives it the pill shape from your design */
    font-size: 0.9rem;
    font-weight: 400;
    font-family: var(--arabicFont);
    z-index: 10;
    backdrop-filter: blur(20px);
}

/* Background tints using your specific colors with low opacity */
.bg-green { background-color: rgba(39, 174, 95, 0.585); }
.bg-orange { background-color: rgba(242, 152, 74, 0.581); }
.bg-red { background-color: rgba(235, 87, 87, 0.585); }

/* The text colors you provided */
.green-text2 { color: #cbffe3; }
.orange-text2 { color: #ffe5cf; }
.red-text2 { color: #ffcfcf; }