.shortTextCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.shortTextCont input{
    
    all: unset;
    font-family: var(--arabicFont);
    width: 100%;
    padding: .6vw 1vw .6vw 0;

    box-sizing: border-box;

    background-color: var(--inputBg);
    border-radius: 8px;

    font-size: 1.2rem;
}

.shortTextCont h5{
    color: var( --darkText);
    font-size: 1.2rem;
    font-weight: 600;
}