.smallCardIconCont{
    flex: 1;
    min-width: 150px;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: #FFFFFF;
    border: 1px solid #E7EBE8;
    border-radius: 8px;
}

.titleIconCont{
    display: flex;
    gap: .4rem;
    align-items: center;
}