:root{
    --bgColor: #f9f9f9;
    --darkText: #082F19;
    --lightText: #FAFAEA;
    --arabicFont: "Tajawal", sans-serif;

    --ctaActive: #177333;
    --stroke: #C9CBCA;
    --red: #9F0712;
    --redBg: #FFE2E2;
    --iconBg: #EAF3EE;
    --inputBg: #F5F5F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgColor);
    direction: rtl;

}

h3{
    font-family: var(--arabicFont);
    color: var(--darkText);

    font-size: 1.2rem;
    font-weight: 600;
}

p{
    font-family: var(--arabicFont);
    color: var(--darkText);

    font-size: 1rem;
    font-weight: 400;
}

.dashboard-wrapper {
    
  min-height: 100vh;
  direction: rtl; 

  display: flex;
  justify-content: space-between;

}

aside{
    width: 14vw;
    height: 100vh;
    padding: 4vw;

    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);

}

.main-content {
    width: 86vw;
    height: 100vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    /* background-color: #9F0712; */
}

header{
    width: 100%;
    padding: 1vw 0;
    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);   

    display: flex;
    align-items: center;
    justify-content: center;
}

