:root{
    --bgColor: #f9f9f9;
    --darkText: #082F19;
    --lightText: #FAFAEA;
    --thinText: #4A5F52;
    --arabicFont: "Tajawal", sans-serif;

    --ctaActive: #177333;
    --stroke: #C9CBCA;
    --red: #9F0712;
    --redBg: #FFE2E2;
    --iconBg: #EAF3EE;
    --inputBg: #F5F5F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgColor);
    direction: rtl;

}

/* USED FOR PAGE TITLE */
h1{
    font-family: var(--arabicFont);
    color: var(--darkText);

    font-size: 2.2rem;
    font-weight: 600;
}

h2{
    font-family: var(--arabicFont);
    color: var(--darkText);

    font-size: 1.4rem;
    font-weight: 400;
    opacity: .8;
} 

/* USED FOR USERNAME */
h3{
    font-family: var(--arabicFont);
    color: var(--darkText);

    font-size: 1.1rem;
    font-weight: 600;
}

/* USED FOR SIDE BAR LINKS */
h4{
    font-family: var(--arabicFont);

    font-size: 1.2rem;
    font-weight: 500;
}

p{
    font-family: var(--arabicFont);
    color: var(--darkText);

    font-size: 1rem;
    font-weight: 400;
}

.dashboard-wrapper {
    
  min-height: 100vh;
  direction: rtl; 

  display: flex;
  justify-content: space-between;

}

aside{
    width: 18vw;
    height: fit-content;
    padding: 1.5vw;

    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);

}

.main-content {
    width: 86vw;
    /* height: 100vh; */
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #9F0712; */
}

header{
    width: 100%;
    padding: 1vw 0;
    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);   

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardBody{
    width: 94%;
    height: 100vh;
    padding: 2vw 0;

    /* background-color: rgba(127, 255, 212, 0.303); */
}

.topSec{
    margin: 0 0 3vw 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.filterCont{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.bigCardsRow{
    margin: 0 0 1vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.part3{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}


.titles{
    display: flex;
    gap: .6vw;
    align-items: center;
}

.bestCardCont{
    width: 51vw;
    padding: 1.2vw;

    display: flex;
    flex-direction: column;
    gap: 2.2vw;

    background-color: #FFFFFF;
    border: 1px solid #E7EBE8;
    border-radius: 8px;
}

.numbContRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bestCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.questionsTotalCont{
    width: 25vw;
    padding: 1.2vw;

    display: flex;
    flex-direction: column;
    
    gap: 2.36vw;

    background-color: #FFFFFF;
    border: 1px solid #E7EBE8;
    border-radius: 8px;
}

.bottom-stats-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

