.searchFilter{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plantsGrid{
    margin: 2vw 0 1vw 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2vw 0;
}
